#whole_container {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 80px;
	padding-bottom: 30px;
	#list_p { color: white; padding-top: 7px; font-size: 17px;}
	#new_post_message { height: 60px; width: 600px;}
	ul#posts_container { padding-left:0;}
}

#menu_bar {
	height: 50px;
	background-color: #404040;
	padding: 5px;
	border-radius: 10px;
}

.page_container {
	background-color: #eeeeee;
	border-radius: 10px;
}

.post_div {
	background-color: #eeeeee;
	height: 35px;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

#new_post_form {
	padding: 10px;
}

